{{/*
SPDX-FileCopyrightText: 2021-2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{/*
Params:
- type: a string, can be "appstore", "appstream", "fdroid", "flathub", "ggplay", "msstore", or "snapstore"
- link: url string
- customPreTitle: optional, for "appstream" and "flathub" only, to have a custom pre-title
- hideInfo: optional, whether to hide the info line
- divClass: optional, class(es) for the div element
- aClass: optional, class(es) for the a element
- imgClass: optional, class(es) for the img element
*/}}

{{- $lang := site.Language.Lang }}
{{- $src := "" }}
{{- $alt := "" }}
{{- $info := "" }}

<div{{ with .divClass }} class="{{ . }}"{{ end }}>
  <a {{ printf "href=%q" .link | safeHTMLAttr }}{{ with .aClass }} class="{{ . }}"{{ end }}>
{{- if in (slice "appstore" "fdroid" "ggplay" "msstore" "snapstore") .type }}
  {{- $data := index site.Data.store_badges .type }}
  {{- if eq .type "ggplay" }}
    {{- if not (index $data $lang) }}
    {{- $lang = "en" }}
    {{- end }}
  {{- else if eq .type "snapstore" }}
    {{- $lang = index $data $lang }}
    {{- if not $lang }}
      {{- $lang = "en" }}
    {{- end }}
  {{- else }}
    {{- if not (in $data $lang) }}
    {{- $lang = "en" }}
    {{- end }}
  {{- end }}
  {{- if eq .type "snapstore" }}
    {{- $src = printf "https://snapcraft.io/static/images/badges/%s/snap-store-black.svg" $lang }}
  {{- else }}
    {{- $src = printf "/store_badges/%s/%s.svg" .type $lang }}
  {{- end }}
  {{- if eq .type "ggplay" }}
    {{- $langData := index $data $lang }}
    {{- $alt = $langData.alt }}
    {{- $info = $langData.attr }}
  {{- else }}
    {{- $alt = i18n (print .type "-alt") }}
  {{- end }}
    <img src="{{ $src }}" alt="{{ $alt }}"{{ with .imgClass }} class="{{ . }}"{{ end }}/>
{{- else }}
  {{- $src = printf "/store_badges/%s.svg" .type }}
  {{- if eq .type "appstream" }}
    {{- $link := relLangURL "/discover" | print "https://apps.kde.org" }}
    {{- $info = partial "fn/i18n_args" (slice "appstream-info" $link) | markdownify }}
  {{- end }}
    <div class="custom-store-badge{{ with .imgClass }} {{ . }}{{ end }}">
      <img src="{{ $src }}"/>
      <div class="text-container">
        <div class="store-pre-title">
        {{- with .customPreTitle }}{{ . }}
        {{- else }}{{ i18n (print .type "-pre-title") }}
        {{- end }}
        </div>
        <div class="store-title">
        {{- i18n (print .type "-title") }}
        </div>
      </div>
    </div>
{{- end }}
  </a>
  {{- if not .hideInfo }}{{ with $info }}<small>{{ . }}</small>{{ end }}{{ end }}
</div>
