/**
 * SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
 * SPDX-FileCopyrightText: (c) 2019 Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: (c) 2017 Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

// theme-color-variables
$primary: #54a3d8;

// Body
$body-bg: #fcfcfc;

// Links
$link-color: #316f98;
$link-decoration: none;
$link-hover-color: #3daefd;
$link-hover-decoration: none;

// headings-variables
$headings-font-weight: normal;

// font-variables
/* noto-sans-regular - vietnamese_latin-ext_latin_greek-ext_greek_devanagari_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans'), local('NotoSans'),
       url('/fonts/noto-sans.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/noto-sans.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$font-family-sans-serif:
  'Noto Sans',
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// form-label-variables
$form-label-margin-bottom: 0.25rem;

// navbar-variables
$navbar-light-toggler-border-color: transparent;

/* end of Bootstrap variables */

$navbar-active-color: #fff;

$footer-bg: #eff0f1;
$footer-income-bg: #abf9c7;
$footer-bg-changed: #fff;
$footer-legal-color: #6f8181;

$fig-cap-color: #642b2b;

$code-border: #e8e8e8;
$code-bg: #eef;
