/**
 * SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

// dark variables are in Bootstrap from 5.3

// sass-dark-mode-vars
$body-color-dark: #eff0f1;
$headings-color-dark: $body-color-dark;
$link-color-dark: #a9dbff;
$link-hover-color-dark: #7daee9;

/* end of Bootstrap variables */

$navbar-active-color-dark: $body-color-dark;

$footer-bg-dark: #31363b;
$footer-income-bg-dark: #2f4e42;
$footer-bg-changed-dark: #4d4d4d;
$footer-legal-color-dark: #bdc3c7;

$fig-cap-color-dark: #cd9478;

$code-border-dark: #434343;
$code-bg-dark: #3b3b40;
